---
const { onlyIcon = false } = Astro.props;
---

<div class="logo">
	<img
		src={`${import.meta.env.BASE_URL}/logo.svg`}
		alt="Sellyzer"
		width="48"
		height="48"
	/>

	{!onlyIcon && <span class="logo-text">Sellyzer</span>}
</div>

<style>
	.logo {
		display: flex;
		align-items: center;
		gap: 0.6em;
	}

	.logo img {
		display: block;
	}

	.logo-text {
		font-size: 1.6rem;
		font-weight: 600;
		color: #1f2937
	}
</style>
